:root{
    --primary-color: #3d3d3d;
    --secondary-color: #f1f1f1;
    --tercery-color: aqua; 
}
.navegation{
    background-color: rgb(59, 72, 255);
    color: var(--secondary-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.logo-navgate{
    margin-right: 35rem ;
}
.logo-navgate span{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
}